@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  background: #171717;
  color: #fff;
  padding: 2rem;
  width: 40%;
  margin: 4rem auto;
  border-radius: 10px;
}

.weather__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border: none;
  background: #1e1e1e;
  outline: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

input::placeholder {
  color: #fff;
}

.weather__icon img {
  width: 100px;
}

.weather__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 3rem;
}

.weather__card {
  display: flex;
  align-items: center;
  background: #1e1e1e;
  padding: 1rem;
  border-radius: 10px;
}

@media (max-width: 936px) {
  .container {
    width: 90%;
  }

  .weather__header {
    flex-direction: column;
  }

  .weather__units {
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .weather__info {
    grid-template-columns: none;
  }
}
